h1 {
  color: lime;
  font-size: 80px;
  margin: 0px;
  background-color: black;
  text-align: center;
}

p {
  color: lime;
  font-size: 35px;
  background-color: black;
}

.img-Indiaflag {
  width: 80px;
}

.img-Canadaflag {
  width: 80px;
}

h2 {
  color: lime;
  font-size: 60px;
  margin: 10px;
  text-align: center;
}

p2 {
  color: teal;
  font-size: 35px;
}
