h1 {
  color: lime;
  font-size: 80px;
  margin: 0px;
  background-color: black;
  text-align: center;
}

p {
  color: lime;
  font-size: 38px;
  background-color: black;
}

.img-India {
  width: 525px;
}

.img-Canada {
  width: 700px;
}

.index.html {
  width: 200px;
}

h2 {
  color: blue;
  font-size: 60px;
  margin: 10px;
  text-align: center;
}

p2 {
  color: blue;
  font-size: 35px;
}

.img-ball {
  width: 500px;
  height: 200px;
}
